<!DOCTYPE html>
<html>
  <head><title>A prediction app</title></head>
  <body>
    <h3>Prediction App Homepage</h3>
    <div>
      <form name="predictionForm" method="post" action="prediction">
        <label for="chas">CHAS</label>
        <input type="text" name="chas" value="0">
        <br>
        <label for="rm">RM</label>
        <input type="text" name="rm" value="6.575">
        <br>
        <label for="tax">TAX</label>
        <input type="text" name="tax" value="296.0">
        <br>
        <label for="ptratio">PTRATIO</label>
        <input type="text" name="ptratio" value="15.3">
        <br>
        <label for="b">B</label>
        <input type="text" name="b" value="369.9">
        <br>
        <label for="lstat">LSTAT</label>
        <input type="text" name="lstat" value="4.98">
        <br>
        <input type="submit" value="Make Prediction">
      </form>
    </div>
  </body>
</html>
